{
  "plugins": [
    "@typescript-eslint", 
    "react", 
    "react-hooks", 
    "prettier",
    "mdx"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    //"react-app",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mdx/recommended"  
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"      
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
