{
  "plugins": [
    "@typescript-eslint", 
    "react", 
    "react-hooks", 
    "mdx"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [

    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"      
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["*.mdx"],
      "extends": [
        "plugin:mdx/recommended"
      ]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "mdx/code-blocks": true
  }
}
